/* CSS declarations go here */
.new-chat input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-chat input:focus{
  outline: 0;
}